<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".laptop_item"
            android:exported="false" />
        <activity
            android:name=".OvenView"
            android:exported="false" />
        <activity
            android:name=".WcView"
            android:exported="false" />
        <activity
            android:name=".AcView"
            android:exported="false" />
        <activity
            android:name=".TvView"
            android:exported="false" />
        <activity
            android:name=".PcView"
            android:exported="false" />
        <activity
            android:name=".LaptopView"
            android:exported="false" />
        <activity
            android:name=".OvenInsert"
            android:exported="false" />
        <activity
            android:name=".WcInsert"
            android:exported="false" />
        <activity
            android:name=".AcInsert"
            android:exported="false" />
        <activity
            android:name=".TvInsert"
            android:exported="false" />
        <activity
            android:name=".PcInsert"
            android:exported="false" />
        <activity
            android:name=".Insertproduct"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>